a{
	color: #DAA520;
}
h1 {
	font-size: 7vw;
	letter-spacing: -2px;
	color: #DAA520;
	font-family: 'Montserrat', sans-serif;
}
h4 {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	
}
.btn.btn-warning {
	color: white;
}

.portrait {
	float: right;
}
.bold {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 30px;

}
p {
	color: ;
	font-family: 'Montserrat', sans-serif;
}
.navbars {
	font-family: 'Julius Sans One', sans-serif;
	padding-top: 10px;
}

footer {
	text-align: left;
	text-indent: 20px;
	padding: 10px;
	background-color: #F5F5F5;
	margin-top: 50px;
}

.card-tag {
	color: #DAA520;
	font-weight: bold;
}

#doodle{
  object-fit: cover;
  width: 280px;
  height: 280px;
  border-radius: 50%;
}
#doodleb{
  object-fit: cover;
  width: 280px;
  height: 280px;
}
.responsive{
  width: 100%;
  max-width: 500px;
  height: auto;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.jumbotron {
  /*background-image: url('../images/milk.gif');*/
/*  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  opacity: 0.6;*/
  background-color: transparent;
  color: #000000;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  max-width:450px;
  height: auto
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img {
  border-radius: 5px 5px 0 0;
}
@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
        text-align: center;
    }
}

/*@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
        text-align: center;
    }
}*/