*{
  font-family:'Montserrat', sans-serif;
}
a{
	color: #FFFFFF;
}
a #alink {
  color: black;
}
.nav-link a:hover{
  color:#a893bd;
}
.lead{
  font-size: 22px;
}
h1 {
	/*font-size: 7vw;*/
	letter-spacing: -2px;
	/*color: #a893bd;*/
	font-family: 'Montserrat', sans-serif;
}
footer{
  text-align: center;
}
hr.dotted {
  border-top: 3px dotted #a893bd;
}
a:link{
    color:black;
    text-decoration: none;
}
.button{
  background-color: #FFFFFF; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.button::after, .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #a893bd;
    transition: width .3s;
}

.button:hover::after, .nav-link:hover::after{
    width: 100%;
}
.dot {
  height: 60px;
  width: 60px;
  background-color: #a893bd;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  float:left;
}
h4 {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	
}
.btn.btn-warning {
	color: white;
}

.portrait {
	float: right;
}
.bold {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 30px;

}
p {
	color: ;
	font-family: 'Montserrat', sans-serif;
}
.navbar-brand{
    /*font-family: 'Gochi Hand', cursive;*/
    /*font-family: 'Nanum Pen Script', cursive;*/
    font-family: 'Gamja Flower', cursive;
    /*font-family: 'Allura', cursive;*/
    font-size: 40px;
}
.navbars {
  padding-top: 10px;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
}

.card-tag {
	color: #DAA520;
	font-weight: bold;
}
.wraps{
  padding-left: 50px;
  padding-right: 50px;
}
.wraps p,b,span, a, li, dd{
    font-family: 'Judson', serif;
}
#doodle{
  object-fit: cover;
  width: 280px;
  height: 280px;
  border-radius: 50%;
}
#doodleb{
  object-fit: cover;
  width: 280px;
  height: 280px;
}
.responsive{
  width: 100%;
  max-width: 800px;
  height: auto;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.jumbotron {
  /*background-image: url('../images/milk.gif');*/
/*  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  opacity: 0.6;*/
  background-color: transparent;
  color: #000000;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  max-width: 450px;
  height: auto;
  max-height: 450px;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img {
  border-radius: 5px 5px 0 0;
}
@media(min-width: 450px){
  .container, .bodytext{
  padding-left: 10%;
  padding-right: 10%;
  }  
  .card{
      margin:30px;
  }
  .one{
    position: relative;
    top:0;
    left:0;
    z-index: 1;
  }
  .one1{
    position:absolute;
    top: -30px;
    right:100px;
    z-index: 2;
  }
  .two{
    position: relative;
    top:0;
    left:0;
    z-index: 1;
  }
  .two2{
    position:absolute;
    top: -30px;
    right:100px;
    z-index: 2;
  }

}
@media (min-width: 300px) {
    .card-columns {
        column-count: 1;
        text-align: center;
    }
    .one{
      position: relative;
      top:0;
      left:0;
      z-index: 1;
    }
    .one1{
      position:absolute;
      top: -30px;
      right:120px;
      z-index: 2;
    }
    .two{
      position: relative;
      top:0;
      left:0;
      z-index: 1;
    }
    .two2{
      position:absolute;
      top: -30px;
      right:120px;
      z-index: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
        text-align: center;
    }
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #757257;

}
#project1{
  background-color: #8adb7f;
}
#project2{
   background-color: #757257;
}
/*.one{
  position: relative;
  top:0;
  left:0;
  z-index: 1;
}
.one1{
  position:absolute;
  top: -30px;
  right:170px;
  z-index: 2;
}
.two{
  position: relative;
  top:0;
  left:0;
  z-index: 1;
}
.two2{
  position:absolute;
  top: -30px;
  right:170px;
  z-index: 2;
}
*/
.card:hover .overlay {
  opacity: 1;
  z-index: 1;
}
.text {
  color: white;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
/*@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
        text-align: center;
    }
}*/